*.bundle
*.iml
*.log
*.out
*.prev
*.svn
.metadata/
/2019.*
/2020.*
/2021.*
/2022.*
/FB_*
/PR_*
/RB_*
/XB_*
/actordetails/
/adjudication/
/audit/
/bdds/
/dds/
/design-docs/
/develop-https/
/develop/
/paxton/
/payments/
/prod/
/q/
/qa/
/saab/
/src
/sup/
/svn/
/u/
/ua/
/workspace/
TAGS
horizon-parent/
