*.bundle
*.iml
*.log
*.out
*.prev
*.svn
/2019.*
/2020.*
/2021.*
/FB_*
/PR_*
/PRDSDWP-*
/XB_*
/actordetails/
/adjudication/
/audit/
/bdds/
/dds/
/design-docs/
/develop-https/
/develop/
/paxton/
/payments/
/prod*
/qa
/saab/
/src
/sup*
/svn/
/ua
/vis
/workspace/
